@include critical(false) {
  footer {
    .newsletterform {
      width: 100%;
      padding: 2.25rem 1.5rem;
      text-align: center;
      background: $jab_primary;
      color: #fff;
      margin-bottom: 4rem;
      span {
       text-transform: lowercase;
      }
      h3 {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.65rem;
        line-height: 2rem;
        font-weight: 600;
        margin: 0;
        &:before {
          display: block;
          width: 40px;
          height: 32px;
          margin: 0 auto 2rem auto;
          content: " ";
          background-image: url('../img/heart.svg');
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
      .subscribe {
        margin-top: 2rem;
      }
      input[type="submit"] {
        background: $jab_secondary;
        color: $jab_primary;
        padding: 1rem 3rem;
        transform: translateY(3.5rem);
        &:hover {
          background: #fff;
        }
      }
    }
  }
}