@include critical(true) {
  %alert {
    padding: 2rem;
    border-width: 2px;
    border-style: solid;
    font-size: 1rem;
    background-color: $jab_tertiary;
    margin: 1rem 0;
    position: relative;
    background-position: 12px 12px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
    border-radius: .75rem;
    @include md {
      padding: 4rem;
    }
  }
  #system-message {
    >.alert {
      &-notice {
        @extend %alert;
        border-color: $jab_primary;
        .close {
          color: $jab_primary;
        }
      }
      &-message {
        @extend %alert;
        border-color: #97FF99;
        background-color: #97FF99;
        color: #0E510F;
        .alert-heading {
          color: #0E510F;
        }
        .close {
          color: #7DFF24;
        }
      }
      &-error {
        @extend %alert;
        border-color: $jab_red;
        background: $jab_red;
        color: #fff;
        .alert-heading {
          color: #fff;
        }
        .close {
          color: $jab_red;
        }
      }
      &-warning {
        @extend %alert;
        border-color: $jab_primary;
        .close {
          color: $jab_primary;
        }
      }
    }
  }
  .alert-heading {
    font-weight: 600;
    color: $jab_textcolor;
    display: inline-block;
    font-size: 1.25rem;
    margin-top: 0;
  }
  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-weight: 700;
    cursor: pointer;
    display: none;
  }
}